body {
    background-image: url("http://ironandwine.com/wp-content/uploads/2016/02/LLFFCover700.jpg");
    background-position: center 15px;
    background-repeat: no-repeat;
    background-color: hsla(240, 25%, 25%, .4);
    padding-top: 700px;  
}

h1 {
   font-family: 'Palatino Linotype';
   font-size: 36px;
   color: black;
}

a:link {
    text-decoration: none;
    font-family: 'Palatino Linotype';
    font-size: 125%;
    }

a:hover {
    background-color: red;
    text-decoration: underline;
    font-family: 'Palatino Linotype';
    font-size: 125%;
}

p {
    font-family: 'Palatino Linotype';
    text-align: center;
}

h2 {
   font-family: 'Palatino Linotype';
   font-size: 20px;
   color: black;
}

ul {
    font-style: italic;
    font-family: 'Palatino Linotype';
    font-size: 16px
}

caption {
    font-size: 150%;
    }
    
table{
    width:100%;
    border-collapse: collapse;
    border: 1px solid black;
    background-color: lemonchiffon;
}

th {
    background-color:gray;
    font-family: 'Palatino Linotype';
    text-align: center;
    border: 2px solid black;
}
tr {
    font-family: 'Palatino Linotype';
    text-align: center;
}
td {
    border: 1px solid black;
}