.header {
    font-size: 18px;
    text-align: center;
}

.nav {
    text-align: left;
    font-size: 14px;
}

a {
    font-family: 'Times New Roman';
}

.paragraph2 {
    margin: auto;
    width: 380px;
    padding: 10px;
    border-width: 2px; 
    border-color: gray; 
    border-style:solid;
    text-align:left;
}
.footer {
    text-align: center;
}